@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Создание задачи";
}

<h1>Создание задачи</h1>
<hr />
<div class="form-group">
    <label class="control-label">Тема</label>
    <input class="form-control" />
</div>
<div class="form-group">
    <label class="control-label">Задача</label>
    <textarea class="form-control" rows="3"/>
</div>
<div class="d-flex justify-content-between">
    <
</div>
